
NET "clk" LOC = "C9" | IOSTANDARD = LVTTL | PULLDOWN;

NET "PWM_o" LOC = "D7" | IOSTANDARD = LVTTL | DRIVE = 8;
NET "PWM_led" LOC = "F12" | IOSTANDARD = LVTTL | DRIVE = 8;


#NET "selector<0>"  LOC = "L13" | IOSTANDARD = LVTTL | PULLUP;  # al switch SW0
#NET "selector<1>"  LOC = "L14"  | IOSTANDARD = LVTTL | PULLUP; # al switch SW1
#NET "selector<2>"  LOC = "H18"  | IOSTANDARD = LVTTL | PULLUP; # al switch SW1

# ==== Pushbuttons (BTN) ====
NET "BTN_WEST" LOC = "H13" | IOSTANDARD = LVTTL | PULLDOWN ;
NET "BTN_NORTH" LOC = "V4" | IOSTANDARD = LVTTL | PULLDOWN ;
#NET "BTN_SOUTH" LOC = "K17" | IOSTANDARD = LVTTL | PULLDOWN ;
NET "BTN_EAST" LOC = "D18" | IOSTANDARD = LVTTL | PULLDOWN ;
